:http {
  root /var/www

  route / {
    reverse_proxy @transform if {query.XTransformPort} != ""
    reverse_proxy @default localhost:3000

    @transform {
      header_up Host {http.request.header.Host}
      header_up X-Forwarded-For {http.request.remote.ip}
      header_up X-Forwarded-Proto {http.request.scheme}
      header_up X-Real-IP {http.request.remote.ip}
      proxy localhost:{query.XTransformPort}
    }

    handle @transform, @default {
      root /var/www
    }
  }
}