const http = require('http');
const url = require('url');
const httpProxy = require('http-proxy');

const proxy = httpProxy.createProxyServer();

http.createServer((req, res) => {
  const parsedUrl = url.parse(req.url, true);
  const query = parsedUrl.query;

  if (query.XTransformPort) {
    const target = `http://localhost:${query.XTransformPort}`;
    proxy.web(req, res, { target });
  } else {
    const target = 'http://localhost:3000';
    proxy.web(req, res, { target });
  }
}).listen(81, () => {
  console.log('Server listening on port 81');
});

proxy.on('proxyReq', (proxyReq, req) => {
  proxyReq.setHeader('Host', req.headers.host);
  proxyReq.setHeader('X-Forwarded-For', req.socket.remoteAddress);
  proxyReq.setHeader('X-Forwarded-Proto', req.protocol);
  proxyReq.setHeader('X-Real-IP', req.socket.remoteAddress);
});